<div class="about">
  <h2 id="about_us">About Us, powering the renewable evolution</h2>
  <p></p>
</div>
<div id="contact_us">
    <h2 id="contact">Contact</h2>
    <p class="address">9th Floor
      Waldorf Building<br/>
      80 St George's Mall<br/>
      Cape Town<br/>
      8000
    </p>

    <p class="address">
      <span>E:</span>info@green-cape.co.za<br/>
      <span>T:</span>+27 21 483 3859<br/>
      <span>F:</span>+27 86 583 9213
    </p>
    <div id="email_us">
      <a href="mailto:info@green-cape.co.za">Email us</a>

    </div>
  </div>