<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<div class="about">
  <h2 id="about_us">About Us, powering the renewable evolution</h2>
  <p></p>
</div>
<div class="section">
  <img src="/images/papers_img.jpg" alt="papers" >
  <h2 id="papers">Papers</h2>
  <p class="intro">Here are a select few papers which are pertinent to the GreenCape initiative:</p>

  <h4>Legislation</h4>
  <ul>
    <li><a href="assets/legislation/electricity_act.pdf"> Electricity Act</a></li>
    <li><a href="assets/legislation/Electricity-Regulation-Act-4-06.pdf"> Electricity Regulation Act 4-06</a></li>
    <li><a href="assets/legislation/National-Energy-Act-2008.pdf"> National Energy Act 2008</a></li>

    <li><a href="assets/conference_proceedings/National-Environmental-Management-Act-107-98.pdf"> National Environmental Management Act</a></li>
  </ul>
  <h4>Policy</h4>
  <ul>
    <li><a href="assets/policy/WC-White-Paper-Sustainable-Energy-Gazette.pdf">White Paper on Sustainable Energy</a></li>
    <li><a href="assets/policy/SA-Renewable-Energy-White-Paper-2004.pdf">SA Renewable Energy White Paper</a></li>

  </ul>
  <!--h4>Action Plans</h4-->
  <h4>Position Papers</h4>
    <ul>
      <li><a href="assets/position/greentech-12-04-2010.pdf">Green Tech</a></li>
    </ul>
  <!-- <h4>Conference proceedings</h4>
    <ul>
      <li></li>
    </ul> -->
</div>
